<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') %>
    <link rel="stylesheet" href="/css/index.css">

    <body>
        <%- include ('partials/header') %>

            <section class="main-body">
              
                <form action="" method="POST" class="formBuscar">
                    <input type="text" name="donde" placeholder=" A donde vamos?" class="inp1">
                    <input type="date" name="fecha" class="inp2">
                    <select name="cuantos" class="inp3">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4 o más</option>
                    </select>
                    <button type="submit" id="buscar">Buscar</button>
                </form>


                <h3 class="titulo-ofertas">Ofertas destacadas</h3>
                <div class="ofertas-destacadas">
                    <% for (let i=0; i<ofertas.length ; i++ ) { %>
                        <article class="oferta-destacada-<%=ofertas[i].id %>">
                            <a href="/products/detail">
                                <%=ofertas[i].descuento%>
                            </a>
                        </article>
                        <% } %>
                </div>


                <h3 class="titulo-destinos">Destinos destacados</h3>
                <div class="destinos-destacados">
                    <% for (let i=0; i<destinos.length; i++) { %>
                        <article class="destindo-destacado-<%=destinos[i].id%>">
                            <p>
                                <%=destinos[i].nombre%>
                            </p>
                        </article>
                        <% } %>
                </div>

            </section>


            <form action="" method="POST" class="suscripcion">
                <input type="email" placeholder="Ingresar e-mail">
                <button type="submit">Enviar</button>
            </form>

            <%- include ('partials/footer') %>


    </body>

</html>