<!DOCTYPE html>
<html>

<%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/editProduct.css">

    <body>

        <%- include ('../partials/header') %>

            <main class="main">
                <h3>Edición de productos</h3>
                <form action="/products/<%= casa.id %>/edit?_method=PUT" method="POST" class="form"
                    enctype="multipart/form-data">
                    <div class="campo">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" value="<%= casa.nombre %>" class=<%=locals.errors &&
                            errors.nombre ? 'is-invalid' : null %>>
                        <% if (locals.errors && errors.nombre) { %>
                            <div class="text-danger">
                                <%= errors.nombre.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="campo">
                        <label for="descrip">Descripción</label>
                        <input type="text" name="descrip" value="<%= casa.descrip %>" class=<%=locals.errors &&
                            errors.descrip ? 'is-invalid' : null %>>
                        <% if (locals.errors && errors.descrip) { %>
                            <div class="text-danger">
                                <%= errors.descrip.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="campo">
                        <label for="image">Imagen</label>
                        <input type="file" name="image">
                        <input type="hidden" name="oldImage" value="<%= locals.errors ? casa.oldImage : casa.image %>">
                        <% if (locals.errors && errors.image) { %>
                            <div class="text-danger">
                                <%= errors.image.msg %>
                            </div>
                            <% } %>
                    </div>
                    </div>
                    <div class="campo">
                        <label for="categ">Categoría</label>
                        <select name="categ" class=<%=locals.errors && errors.categ ? 'is-invalid' : null %>>
                            <option value=1 name="categ" <%= casa.categ == 1 ? 'selected' : null %>>1 Estrella </option>
                            <option value=2 name="categ" <%= casa.categ == 2 ? 'selected' : null %>>2 Estrella </option>
                            <option value=3 name="categ" <%= casa.categ == 3 ? 'selected' : null %>>3 Estrella </option>
                            <option value=4 name="categ" <%= casa.categ == 4 ? 'selected' : null %>>4 Estrella </option>
                            <option value=5 name="categ" <%= casa.categ == 5 ? 'selected' : null %>>5 Estrella </option>
                            <% if (locals.errors && errors.categ) { %>
                                <div class="text-danger">
                                    <%= errors.categ.msg %>
                                </div>
                                <% } %>
                        </select>
                    </div>
                    <div class="campo">
                        <label for="habit">Cantidad de Habitaciones</label>
                        <input type="number" name="habit" value="<%= casa.habit %>" class="habit <%= locals.errors &&
                            errors.habit ? 'is-invalid' : null %>">
                        <% if (locals.errors && errors.habit) { %>
                            <div class="text-danger">
                                <%= errors.habit.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="campo">
                        <label for="price">Precio</label>
                        <input type="text" name="price" value="<%= casa.price %>" class="precio <%=locals.errors &&
                            errors.price ? 'is-invalid' : null %>">
                        <% if (locals.errors && errors.price) { %>
                            <div class="text-danger">
                                <%= errors.price.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="campo">
                        <label for="location">Ubicacion</label>
                        <input type="text" name="ubicacion" value="<%= casa.ubicacion %>" class=<%=locals.errors &&
                            errors.ubicacion ? 'is-invalid' : null %>>
                        <% if (locals.errors && errors.ubicacion) { %>
                            <div class="text-danger">
                                <%= errors.ubicacion.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="campo">
                        <label for="ciudad">Ciudad</label>
                        <input type="text" name="ciudad" value="<%= casa.ciudad %>" class=<%=locals.errors &&
                            errors.ciudad ? 'is-invalid' : null %>>
                        <% if (locals.errors && errors.ciudad) { %>
                            <div class="text-danger">
                                <%= errors.ciudad.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="campo">
                        <label for="condiciones">Condiciones</label>
                        <input type="text" name="condiciones" value="<%= casa.condiciones %>" class=<%=locals.errors &&
                            errors.condiciones ? 'is-invalid' : null %>>
                        <% if (locals.errors && errors.condiciones) { %>
                            <div class="text-danger">
                                <%= errors.condiciones.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="campo">
                        <label for="servicios">Servicios</label> <br>
                        <input 
                            type="checkbox" 
                            name="servicios" 
                            value="wifi"
                            <%= casa.servicios && casa.servicios.includes("wifi") ? 'checked' : null %>>
                        <label for="servicios">Wi-fi</label>
                        <br>
                        <input 
                            type="checkbox" 
                            name="servicios" 
                            value="pileta"
                            <%= casa.servicios && casa.servicios.includes("pileta") ? 'checked' : null %>>
                        <label for="servicios">Pileta</label>
                        <br>
                        <input 
                            type="checkbox" 
                            name="servicios" 
                            value="estacionamiento"
                            <%= casa.servicios && casa.servicios.includes("estacionamiento") ? 'checked' : null %>>
                        <label for="servicios">Estacionamiento</label>
                        <br>
                        <input 
                            type="checkbox" 
                            name="servicios" 
                            value="parrilla"
                            <%= casa.servicios && casa.servicios.includes("parrilla") ? 'checked' : null %>>
                        <label for="servicios">Parrilla</label>
                        <br>
                        <input 
                            type="checkbox" 
                            name="servicios" 
                            value="aireacondicionado"
                            <%= casa.servicios && casa.servicios.includes("aireacondicionado") ? 'checked' : null %>>
                        <label for="servicios">Aire acondicionado</label>
                        <% if (locals.errors && errors.servicios) { %>
                            <div class="text-danger">
                                <%= errors.servicios.msg %>
                            </div>
                            <% } %>
                                <br>

                                <!--
                        <input type="text" name="servicios" value="<%= casa.servicios %>">  
                    -->
                    </div>

                    <button type="submit" class="button">Actualizar</button>
                    <button class="button">
                        <a href="/products">Listado Productos</a>
                    </button>
                </form>



            </main>
            <%- include ('../partials/footer') %>


    </body>

</html>