<!DOCTYPE html>
<html>

<%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/editProduct.css">

    <body>

        <%- include ('../partials/header') %>

            <main class="main">
                <h3>Edición de productos</h3>
                <form action="/products/edit/<%= casa.id %>?_method=PUT" method="POST" class="form" enctype="multipart/form-data">
                    <div class="campo">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" value="<%= casa.name %>">
                    </div>
                    <div class="campo">
                        <label for="descrip">Descripción</label>
                        <input type="text" name="descrip" value="<%= casa.descrip %>">
                    </div>
                    <div class="campo">
                        <label for="image">Imagen</label>
                        <input type="file" name="image">
                    </div>
                    <div class="campo">
                        <label for="categ">Categoría</label>
                        <input type="text" name="categ" value="<%= casa.categ %>">
                    </div>
                    <div class="campo">
                        <label for="habit">Cantidad de Habitaciones</label>
                        <input type="text" name="habit" value="<%= casa.habit %>" class="habit">
                    </div>
                    <div class="campo">
                        <label for="price">Precio</label>
                        <input type="number" name="price" value="<%= casa.price %>" class="precio">
                    </div>
                    <div class="campo">
                        <label for="location">Ubicacion</label>
                        <input type="text" name="ubicacion" value="<%= casa.ubicacion %>">
                    </div>
                    <div class="campo">
                        <label for="city">Ciudad</label>
                        <input type="text" name="ciudad" value="<%= casa.ciudad %>">
                    </div>
                    <div class="campo">
                        <label for="terms">Condiciones</label>
                        <input type="text" name="condiciones" value="<%= casa.condiciones %>">
                    </div>
                    <div class="campo">
                        <label for="services">Servicios</label>
                        <input type="text" name="servicios" value="<%= casa.servicios %>">
                    </div>

                    <button type="submit" class="button">Actualizar</button>
                </form>


            </main>
            <%- include ('../partials/footer') %>


    </body>

</html>