<!DOCTYPE html>
<html>

<%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/listProducts.css">

    <body>

        <%- include ('../partials/header') %>

            <main class="main">


                <h1>Listado de productos</h1>
                <section class="listadoDeProductos">
                    <% casas.forEach (casa => {%>

                        <%- include ('../partials/product', {casa}) %>      

                        <div class="botones">
                            <form action="/products/<%= casa.id %>">
                                <button>Detalle</button>
                            </form>
                            <form action="/products/<%= casa.id %>/edit" class="editar">
                                <button>Editar</button>
                            </form>
                            <form action="/products/<%= casa.id %>?_method=DELETE" method="POST">
                                <button class="borrar">Borrar</button>
                            </form>
                        </div>
                        <% } )%>


                </section>


                <form method="get">
                    <a href="/products/create">Crear</a>
                </form>

            </main>
            <%- include ('../partials/footer') %>


    </body>

</html>