<!DOCTYPE html>
<html>

<%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/listProducts.css">

    <body>

        <%- include ('../partials/header') %>

            <main class="main">


                <h1>Listado de productos</h1>
                <section class="listadoDeProductos">
                    <% for (let i=0; i<casas.length; i++) {%>

                        <h3>
                            <%= casas[i].name %>
                        </h3>
                        <!-- <img src="/images/img<%=i+1%>.jpg" alt="" class="listProductsImage"> -->
                        <img src="/images/<%= casas[i].image %>" alt="" class="listProductsImage">
                        <p>
                            <%= casas[i].descrip %>
                        </p>
                        <h5>$<%= new Intl.NumberFormat('de-DE', { style: 'decimal' }).format(casas[i].price) %>
                        </h5>
                        
                        <div class="botones">
                            <form action="/products/edit/<%= casas[i].id %>">
                                <button>Editar</button>
                            </form>
                            <form action="/products/<%= casas[i].id %>?_method=DELETE" method="POST">
                                <button class="borrar">Borrar</button>
                            </form>
                        </div>
                        <% } %>


                </section>


                <form method="get">
                    <a href="/products/create">Crear</a>
                </form>

            </main>
            <%- include ('../partials/footer') %>


    </body>

</html>