<!DOCTYPE html>
<html>

<%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/listProducts.css">

    <body>

        <%- include ('../partials/header') %>

            <main class="main">


                <h1>Listado de productos</h1>
               
                    <button class = "button">
                        <a href="/products/create">Crear Producto</a> 
                    </button>
                
                <section class="listadoDeProductos">
                    <% casas.forEach (casa => {%>

                        <%- include ('../partials/product', {casa}) %>      

                        <div class="botones">
                            <form action="/products/<%= casa.id %>">
                                <button>Detalle</button>
                            </form>
                            
                        </div>
                        <% } )%>


                </section>


                

            </main>
            <%- include ('../partials/footer') %>


    </body>

</html>